<p id="notice"><%= notice %></p>

<h1>Photos</h1>

    <% @photos.each do |photo| %>
      
        <%= image_tag photo.url, style: 'max-width: 640px' %>
        <%= photo.caption %>
        <%= photo.user %>
        
        <%= link_to 'Show', photo %>
        <%= link_to 'Edit', edit_photo_path(photo) %>
        <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    
    <% end %>


<br>

<%= link_to 'New Photo', new_photo_path %>
